<?xml version="1.0"?>

<configuration>
	
	<configSections>
		<section name="httpCompression" type="Compression.CompressionConfiguration"/>
	</configSections>

	
	<httpCompression format="deflate">
		<staticTypes>
			<add mimeFormat="text/*" enabled="true"/>
			<add mimeFormat="message/*" enabled="true"/>
			<add mimeFormat="application/javascript" enabled="true"/>
			<add mimeFormat="application/json" enabled="true"/>
			<add mimeFormat="*/*" enabled="false"/>
		</staticTypes>
	</httpCompression>

	<system.web>
		<compilation targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="CompressionModule"/>
			<add name="CompressionModule" type="HttpModules.CompressionModule"/>
		</modules>
	</system.webServer>
	
</configuration>